.app-main {
    width: 70%;
    height: 100vh;
}

.app-main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    height: 10vh;
}

.app-main-note-edit {
    padding: 10px 25px 25px;
    height: 90vh;
}

.app-main-note-edit input, textarea {
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    height: calc(75vh - 130px);
    padding: 5px;
    resize: none;
    font-size: 16px;
    font-family: "Noto Sans Japanese", sans-serif;
}

.app-main-note-edit input{
    height: 50px;
    font-size: 2rem;
}

.no-active-note {
    width: 70%;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 16px;
    color: #999;
}